.diagnosify-button{
    padding: 10px 20px;
    background: var(--blue);
    border-radius: 5px;
    border: 1px solid var(--blue);
    font-weight: bold;
}
.diagnosify-button:hover{
    border: 1px solid var(--blue);
    background: transparent;
}
.button2{
    background: transparent;
    color: white;
}
.button2:hover{
    background: var(--blue);
}
.button3{
    color: white;
}
.button3:hover{
    background: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button .fab{
    color: red;
    font-size: 1.3em;
}
.fa-apple{
    color: black !important;
}