.card{
    border: none;
    width: 100%;
    max-width: 380px;
}
.card .image-container{
    height: 400px;
    width: 100%;
    background: #97949E;
    overflow: hidden;
}
.card .image{
    width: 100%;
    height: 100%;
    background: #97949E center no-repeat;
    background-size: cover;
    transition: 2s;
    filter: grayscale(0.8);
}
.card .image:hover{
    transform: scale(1.2);
    filter: grayscale(0);
}
.card .info{
    min-height: 150px;
    text-align: center;
    margin-top: 10px;
    border: 2px solid var(--blue);
    border-top: none;
    padding: 5%;
}
.card a:hover{
    text-decoration: none;
    color: var(--blue);
}