.signup, .signin {
    background: url("../../assets/images/signup.jpg") center no-repeat;
    background-size: cover;
    margin-top: 10vh;
    height: 100vh;
    width: 100%;
    transition: opacity 2s linear, height 2s step-start;
}

.signin {
    background: url("../../assets/images/signin.jpg") center no-repeat;
    background-size: cover;
}

.signup-card, .signin-card {
    border-radius: 4px;
    width: 96%;
    background: white;
    margin: 4vh 2% 4vh 2%;
    position: absolute;
    padding: 50px;
}

.card-head {
    margin-bottom: 20px;
}

.form-input {
    margin-bottom: 20px;
}
input:focus {
    border-bottom: 1px solid var(--dark-blue);
    transform: scale(1.01);
}

.set-invalid{
    border-bottom: 1px solid red !important;
}
.set-valid{
    border-bottom: 1px solid green !important;
}

label {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.46);
    margin-bottom: 5px;
}

input {
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
    transition-duration: 1000ms;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

.or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.or p {
    margin: 0 20px;
}

.h-line {
    height: 2px;
    width: 300px;
    background: #eee;
}
.far{
    cursor: pointer;
}
.make-blue {
    cursor: pointer;
}

.hide {
    display: none;
    overflow: hidden;
    transition-duration: 1000ms;
}

.unhide {
    opacity: 100;
    height: 100vh;
    overflow: hidden;
    transition-duration: 1000ms;
}
.error-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.error{
    color: red;
}
.input-error::before{
    font-family: 'Font Awesome 5 free', serif;
    content: '\f06a';
    font-weight: 900;
    margin-right: 10px;
}
.label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .signup-card {
        width: 500px;
        margin-top: 4vh;
        margin-left: calc(100% - 600px);
        padding: 50px;
    }

    .signin-card {
        width: 500px;
        margin-top: 4vh;
        margin-left: 100px;
        padding: 50px;
    }
}