body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button:focus{
  outline: none;
}
h1{
  font-weight: 800;
}
body{
  scroll-behavior: smooth;
}
a:hover{
  text-decoration: none;
  background: transparent!important;
}

:root{
  --dark-blue: #0091bd;
  --blue: #46c2e8;
}
